@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400&family=Lato:wght@400;700&family=Poppins:wght@100;200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: aquamarine;
    background-size: cover;
}

input {
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.info {
    width: 560px;
    height: 630px;
    margin: 30px auto;
    background-color: white;
    border-radius: 3px;
}

.info h3,
p {
    text-align: center;
    padding: 8px 0;
}

form .form-group {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

form .form-group label {
    flex: 20%;
}

form .form-group input {
    flex: 80%;
}
.btn{
    background-color: red;
    width: 200pxS;
}