* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    background-color: #E2E2E2;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;

}

.logo {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content:


}

.container ul {
    display: flex;

    margin-right: 30px;
    list-style: none;
}

a {
    text-decoration: none;
}

.header p {
    font-weight: 300
}