* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    background-color: #E2E2E2;
    line-height: 1.6;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.nav .context {
    display: flex;

}

.context .contact a,
.mail-info a {
    text-decoration: none;
}

.logo-list {
    display: flex;
    list-style: none;

}

.logo-list li {
    margin-left: 15px;
}