* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    background-color: #E2E2E2;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    color: #848E9F;
    justify-content: space-between;

}



.container .logo-icon ul {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    list-style: none;
}

.container .logo-icon ul li {
    margin-right: 10px;
}

.container .logo-icon ul li a {
    color: #848E9F !important;
    text-decoration: none;
}


.contact {
    display: flex;
    color: #848E9F !important;
}

.container .contact div {
    margin-right: 20px;

}

.container .contact div a {
    color: #848E9F !important;
}

.container .contact div i {
    margin-right: 5px;

}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-item{
    float: right;
}

.list-item ul{
display: flex;
flex-direction: row;
list-style: none;
float: right;
}

.list-item ul li a{
    text-decoration: none;
}

